.entry {
  border: 2px black solid;
  width: 400px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form, .form-submit, .center-column, .entry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-container {
  width: 100vw;
  height: 100vh;
}